.dignity {
  @media (max-width: 1199px) {
    @include padding(60px, null, 60px, null);
  }

  @media (min-width: 1200px) {
    @include padding(94px, null, null, null);
  }
}

.dignity__container {
  padding: 0 15px;
}
.dignity__list {
  @media (min-width: 768px) {
    @include wrap-center;
    @include margin(-30px, null, null, -30px);
    // @include margin(94px, null, 94px, null);
  }

  &--item {
    @media (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      @include margin(30px, null, null, 30px);
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      @include margin(30px, null, null, 30px);
    }
  }
  &--item:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &--icon {
    @include flex-center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: rgba(245, 244, 250, 1);
  }

  &--title {
    @include text-description(14px, $studio-color, 700, 1.36, 0.03em);
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &--text {
    @include text-description(14px, $tel-text, 400, 1.71, 0.03em);
  }
}