.dignity__container {
  padding: 60px 15px;
}
.dignity {
  @media (min-width: 768px) {
    @include wrap-center;
    @include margin(-30px, null, null, -30px);
  }

  &__item {
    @media (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      @include margin(30px, null, null, 30px);
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      @include margin(30px, null, null, 30px);
    }
  }
  &__item:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    @include flex-center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: rgba(245, 244, 250, 1);
  }

  &__title {
    @include text-description(14px, $studio-color, 700, 1.36, 0.03em);
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .dignity__icon--svg {
    @include size(70px, 70px);
  }

  &__text {
    @include text-description(14px, $tel-text, 400, 1.71, 0.03em);
  }
}