.footer {
    background-color: rgba(47, 48, 58, 1);
  
    &__container {
      padding: 60px 15px;
  
      @media (min-width: 768px) {
        @include wrap-center;
        align-items: baseline;
      }
      @media (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
  }
  
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  
    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
  
    @media (min-width: 1200px) {
      text-align: left;
    }
  
    &__info {
      margin-top: 20px;
    }
  
    &__item:not(:first-child) {
      margin-top: 9px;
    }
  
    &__link {
      @include text-description(14px, null, 400, 1.71px, 0.03em);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__link:hover,
    &__link:focus,
    &__link:active {
      color: $focus-color;
    }
  
    &__link--white {
      color: $hero-text;
    }
  
    &__link--white60 {
      color: $adress-color;
    }
  }
  
  .footer-social {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
  
    @media (min-width: 768px) {
      @include margin(null, null, 0px, 165px);
    }
  
    @media (min-width: 1200px) {
      margin-left: 0px;
    }
  }
  
  .footer-social__text {
    @include text-description(14px, $hero-text, 700, 1.17, 0.03em);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  
    @media (min-width: 1200px) {
      text-align: left;
    }
  }
  .subscribe__text {
    @include text-description(14px, $hero-text, 700, 1.17, 0.03em);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  
    @media (min-width: 1200px) {
      text-align: left;
    }
  }
  
  .subscribe {
    @media (min-width: 480px) {
      width: 450px;
    }
  
    @media (min-width: 768px) {
      margin-top: 60px;
    }
  
    @media (min-width: 1200px) {
      width: auto;
      margin-top: 0px;
    }
  }
  
  .subscribe-form {
    text-align: center;
    cursor: pointer;
  
    &__input {
      @include text-description(16px, null, 400, 1.25, 0.03em);
      @include border(1px, solid, rgba(255, 255, 255, 0.3), 4px);
      @include size(100%, 50px);
      display: inline-flex;
      margin-bottom: 20px;
      padding-left: 15px;
      background-color: rgba(47, 48, 58, 1);
      cursor: pointer;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      @media (min-width: 768px) {
        width: 450px;
      }
  
      @media (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0px;
      }
    }
  }

  .subscribe-form__input:hover,
  .subscribe-form__input:focus {
      color: $tel-text;
      border-color: $focus-color;
  }
  
  .subscribe-button {
    @include size(200px, 50px);
    @include text-description(16px, $hero-text, 700, 1.88,  0.06em);
    @include inline-center;
    background-color: $focus-color;
    border-radius: 4px;
    cursor: pointer;
  
    @media (min-width: 1200px) {
      margin-left: 12px;
    }
  
    &__icon {
      @include size(24px, 24px);
      margin-left: 10px;
      fill: currentColor;
    }
  }