.backdrop {
@include size(100%, 100vh);
@include indent(0, null, null, 0);
position: fixed;
transform: scaleX(1);
background-color:  rgba(0, 0, 0, 0.2);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
}

.backdrop.is__hidden {
opacity: 0;
pointer-events: none;
visibility: inherit;
transform: scaleX(0.2);
}

.backdrop.is__hidden .modal {
transform: translate(-50%, -50%) scale(0);
}

.modal {
@include indent(50%, null, null, 50%);
position: absolute;
min-width: 528px;
min-height: 581px;
overflow-y: auto;
opacity: 1;
transform: translate(-50%, -50%) scale(1);
background-color: $hero-text;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
z-index: 2;
}

.modal__form {
margin: 40px;
        
    &--title {
    @include text-description(20px, null, null, 1.15, null);
    margin-bottom: 12px;
    text-align: center;
    }

    &--field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    }
}


.close {
@include flex-center;
@include indent(8px, 8px, null, null);
@include size(30px, 30px);
@include border(1px, solid, rgba(0, 0, 0, 0.1), 50%);
background: none;
position: absolute;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
    &:hover,
    &:focus {
    color: $focus-color;
    }
}

.close__icon {
fill: currentColor;
}

.button__submit--modal {
@include size(200px, 50px);
@include text-description(16px, $hero-text, 400, 1.88, null);
background-color: rgba(33, 150, 243, 1);
border: none;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
justify-content: center;
align-items: center;
    &:hover,
    &:focus {
    background-color: rgba(24, 140, 232, 1);
    }
}
  

.modal__form--field label {
@include text-description(12px, $tel-text, 400, 1.17, 0.01em);
margin-bottom: 4px;
}

.input__thumb {
content: "";
position: relative;
}
  
.input__form {
@include size(100%, 40px);
@include border(1px, solid, rgba(33, 33, 33, 0.2), 4px);
outline: none;
color: $tel-text;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: $focus-color;
    cursor: pointer;
    }

    &:hover + .icon__form,
    &:focus + .icon__form {
    fill: $focus-color;
    }

    &:focus {
    border: 1px solid $focus-color;
    }
}

.icon__form {
@include indent(50%, null, null, 15px);
position: absolute;
transform: translateY(-50%);
}

.textarea {
@include text-description(12px, rgba(117, 117, 117, 1), 400, 1.17, 0.01em);
@include border(1px, solid, rgba(33, 33, 33, 0.2), 4px);
outline: none;
resize: none;
padding: 12px 16px;
height: 120px;
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: $focus-color;
    }
}

  
.field__policy {
@include text-description(12px, $tel-text, 400, 1.17, 0.01em);
margin-bottom: 30px;
text-align: center;
}
  
.check {
@include flex-center;

    &__input {
    @include check-input;

        &:checked + .icon__check {
        background-color: $focus-color;
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        border-color: $focus-color;
        }
    }
}

.icon__check use {
display: none;
}
  
.icon__check {
@include border(2px, solid, #2a2a2a, 2px);
display: inline-block;
margin-right: 9px;
cursor: pointer;
}

.sending a {
text-decoration: underline;
color: $focus-color;
}

.button__submit {
@include flex-center;
}