.team {
    background-color: rgba(245, 244, 250, 1);
  
    &__container {
      padding: 60px 15px;
    }
  
    &__title {
      @include text-description(28px, $studio-color, 700, 1.17, 0.03em);
      margin-bottom: 30px;
      text-align: center;
    }
    &__list {
      @media (min-width: 768px) {
        @include margin(-30px, null, null, -30px);
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__image {
      display: block;
      width: 100%;
    }
  
    &__item {
      @media (min-width: 768px) {
        @include margin(30px, null, null, 30px);
        flex-basis: calc(100% / 2 - 30px);
      }
  
      @media (min-width: 1200px) {
        @include margin(30px, null, null, 30px);
        flex-basis: calc(100% / 4 - 30px);
      }
  
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
  
      background-color: $hero-text;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  
    &__item:last-child {
      margin-bottom: 0;
    }
  
    &__box {
      padding: 30px 0 24px 0;
    }
  
    &__name {
      @include text-description(16px, $studio-color, 500, 1.17, 0.03em);
      text-align: center;
    }
  
    &__position {
      @include text-description(16px, $tel-text, 400, 1.17, 0.03em);
      @include margin(10px, null, 16px, null);
      text-align: center;
    }
  }

  .social {
    display: flex;
    justify-content: center;
  
    &__item:not(:first-child) {
      margin-left: 10px;
    }
  
    &__link {
      @include size(44px, 44px);
      @include flex-center;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__link--team {
      color: rgba(175, 177, 184, 1);
    }
  
    &__link--team:hover,
    &__link--team:focus {
      color: $hero-text;
      background-color: $focus-color;
    }
  
    &__link--footer {
      background-color: rgba(255, 255, 255, 0.1);
      color: $hero-text;
    }
  
    &__link--footer:hover,
    &__link--footer:focus {
      background-color: $focus-color;
    }
  
    &__icon {
      @include size(20px, 20px);
      fill: currentColor;
    }
  }