@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin align-center {
    text-align: center;
    align-items: center;
}

@mixin wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }

@mixin indent($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

  @mixin border($bw, $bs, $bc, $br) {
    border-width: $bw;
    border-style: $bs;
    border-color: $bc;
    border-radius: $br;
  }

@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin button-relative {
    border: none;
    display: inline-block;
    position: relative;
}

@mixin input-block {
    display: block;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

@mixin check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    outline: none;
    cursor: pointer;
}

@mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin text-description(
    $size: false,
    $colour: false,
    $weight: false,
    $lh: false,
    $ls: false
)   {
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}